.project-card {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.project-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}
.project-body {
  padding: 1rem;
}
.project-links {
  margin-top: 0.75rem;
}
.project-btn {
  display: inline-block;
  padding: 0.5rem 0.75rem;
 background: linear-gradient(to right, #ffc52c, #ff9a05);
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
}

.project-card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.project-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.project-body {
  padding: 1rem;
}
.project-links {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

.project-tech{
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 0.75rem;
}


.project-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
   background: linear-gradient(to right,  #ffc52c, #ff9a05);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;


}
