.site-footer {
  padding: 1.5rem;
  text-align: center;
  border-top: 1px solid #eee;
  font-size: 0.9rem;
}
.footer-links {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 0.5rem;
}
.Menu {
  width: 100%;
  box-sizing: border-box;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: #fff;
  background-color: #000;
  padding: 0 1rem;
}
.Menu__list {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Menu p {
  margin: 0;
  color: #fff;
  font-weight: 600;
}

.Menu__list a {
  color: #fff;
  text-decoration: none;
}
.portfolio {
   font-size: 1.5rem;
   background: linear-gradient(to right,  #ffc52c, #ff9a05);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
  
  
}
.contact-button {

  background: linear-gradient(to right,  #ffc52c, #ff9a05);

}


.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  text-decoration: none; /* enlève le soulignement */
}


.btn {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  border-radius: 5px;
}





/* 3. Border Reveal */
.btn-border-reveal {
  background-color: transparent;
  color: #ff9a05;
  border: 2px solid #ff9a05;
  position: relative;
  display: inline-block;
  overflow: hidden;
  z-index: 0;
}

.btn-border-reveal::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ff9a05;
  transition: width 0.3s ease;
  z-index: 0;
}

.btn-border-reveal:hover::after {
  width: 100%;
}

.btn-border-reveal {
  background-color: transparent;
  color: #ff9a05;
  border: 2px solid #ff9a05;
  position: relative;
  display: inline-block;
  overflow: hidden;
  z-index: 1; /* mettre le bouton au-dessus du ::after */
}
.btn-border-reveal::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ff9a05;
  transition: width 0.3s ease;
  z-index: -1; /* placer le pseudo-élément derrière le bouton */
}

